*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 2000px;
    font-family: 'Segoe UI',SegoeUI,'Microsoft JhengHei',微軟正黑體,"Helvetica Neue",Helvetica,Arial,sans-serif;
} 
nav{
    max-width: 1382px;
    width: 100%;
    height: 56px;
    margin: auto;
    display: flex;
    justify-content:space-between;
    padding: 0px 69.094px
}

nav .links{
    width: 700px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 13px;
    padding-left: 10px;
}
nav .links a{
    display: flex;
    align-items: center;
}

nav .links .link{
    margin-right: 30px;
}

nav .links .logo{
    width: 110px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/RE1Mu3b.png');
    margin-right: 32px;
}

nav .functions{
    width: 300.14px;
    height: 100%;
    

    display: flex;
   flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    font-size: 13px;
}

nav .functions .function{
    display: flex;
    align-items: center;
}
nav .functions .function a{
    display: flex;
    align-items: center;
}
nav .functions .function.menu{
    width: 181.14px;
    height: 51.6px;
    margin: 0;
    
}
nav .functions .function .icon{
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

nav .functions .function .all{
    width: 15px;
    height: 15px;
    background-image: url(../img/all.png);
    margin-left: 0px;
    position: relative;
    top: 5px;
}

nav .functions .function .search{
    background-image: url(../img/search.png);
    margin-left: 4px;
}

nav .functions .function .cart{
    background-image: url(../img/cart.png);
    margin-left: 4px;
}

nav .functions .function .login{
    width: 35px;
    height: 35px;
    background-image: url(../img/login.png);
    margin-left: 8px;
    }

nav .functions .function:nth-child(1){
    margin-right: -63px;
}

nav .functions .function:nth-child(2){
    margin-left: 15px;
    margin-right: -23px;
}
nav .functions .function:nth-child(3){
    padding-left: 0px;
    margin-right: -23px;
}
nav .functions .function:nth-child(4){
    padding-left: 0px;
    margin-right: -23px;
}

nav .functions .function i{
    font-size: 16px;
}
nav .functions .function span{
    display: none;
}
nav .functions .function.menu span{
    display: inline;
    
    
}
nav .functions .function.menu:hover span{
    text-decoration:underline 2px solid black;
}
nav a:active{
    border: 1px dashed black;
    height: 52;
}
nav a{
    text-decoration: none;
    color: black;
    height:48px;
    border: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
       
}
nav .link a:hover{
    text-decoration:underline 2px solid black;
}