* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 2000px;
    font-family: 'Segoe UI', SegoeUI, 'Microsoft JhengHei', 微軟正黑體, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: block;
    margin: 0px auto;
    max-width: 1600px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#more-btn {
    display: none;
}

.links label {
    display: none;
}

.nav-menu {
    display: none;
}

@media(min-width:1084px) and (max-width:1795px) {
    nav {
        margin: 0px;
        max-width: none;
        padding: 0px 5%;
    }
}

@media(min-width:768px) and (max-width:1083px) {
    nav {
        padding: 0px 2%;
    }
}

nav a {
    text-decoration: none;
    color: black;
}

nav .links {
    width: 75%;
    height: 100%;
    padding-left: 10px;
    font-size: 13px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav .links a {
    border: 1px solid transparent;
    color: #262626;
    display: inline-block;
    margin-top: 1px;
    padding: 16px 8px 10px;
    height: 48px;
    outline-offset: -2px;
    line-height: 10px;
}

nav .links .microsoft-li {
    margin-left: -25px;
}

nav .links .office-li {
    margin-left: 10px;
}

nav .links .windows-li {
    margin-left: 12px;
}

nav .links .surface-li {
    margin-left: 11px;
}

nav .links .xbox-li {
    margin-left: 11px;
}

nav .links .support-li {
    margin-left: 12px;
}

nav .links .microsoft-li a {
    height: 48px;
}

@media(max-width:886px) {
    nav .links .xbox-li {
        display: none;
    }
    nav .links .support-li {
        display: none;
    }
    .nav-menu {
        width: 170px;
        background-color: rgb(242, 242, 242);
        z-index: 99;
        position: absolute;
        top: 53px;
        left: 431px;
        display: none;
        border: 1px solid rgb(207, 201, 201);
        border-bottom: 2px solid black;
    }
    nav .nav-menu>a {
        padding: 18px 0px 18px 24px;
    }
    #more-btn {
        display: none;
    }
    nav .links label {
        display: block;
        padding: 16px 15px 16px 12px;
    }
    #more-btn:checked+label {
        background-color: rgb(242, 242, 242);
        border: 1px solid rgb(207, 201, 201);
    }
    #more-btn:checked+label~.nav-menu {
        display: block;
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:869px) {
    nav .links .surface-li {
        display: none;
    }
    .nav-menu {
        left: 367px;
    }
}

nav .links li {
    display: inline-block;
    overflow-x: visible;
    list-style: none;
    font-size: 13px;
    text-align: center;
    position: relative;
}

nav .links li:active {
    border: 1px dashed black;
}

nav .links .logo-li a::before {
    background-color: #26262600;
}

nav .links li a::before {
    content: '';
    width: calc(100% - 18px);
    height: 2px;
    bottom: 15px;
    background-color: black;
    position: absolute;
    display: none;
}

.links li:hover a::before {
    display: block;
}

nav .links .logo {
    width: 110px;
    height: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/RE1Mu3b.png');
    margin-right: 32px;
    position: relative;
    top: -9px;
    left: -9px;
}

nav .functions {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
    position: relative;
}

nav .functions .function {
    display: flex;
    align-items: center;
    position: relative;
}

nav .functions .function.search01:hover:before {
    content: '';
    width: calc(100% - 35px);
    height: 2px;
    bottom: 12px;
    background-color: black;
    position: absolute;
}

nav .functions .function.shop:hover:before {
    content: '';
    width: calc(100% - 35px);
    height: 2px;
    bottom: -1px;
    background-color: black;
    position: absolute;
}

nav .functions .function.menu {
    width: 121.14px;
    height: 51.6px;
    padding-left: 9px;
    cursor: pointer;
}

nav .functions .function.search01 {
    width: 65.56px;
    height: 43px;
}

nav .functions .function:focus {
    border: 1px dashed black;
}

#toggler {
    display: none;
}

#toggler:checked+label .menu {
    background-color: rgb(242, 242, 242);
    border: 1px dashed black;
}

.functions .menu-list {
    width: 1230px;
    background-color: rgb(242, 242, 242);
    padding-top: 1px;
    margin-top: 50px;
    display: none;
    position: absolute;
    top: 1px;
    right: -175px;
    z-index: 99;
    border-bottom: 2px solid black;
}

.functions .menu-list ul {
    display: flex;
    flex-wrap: wrap;
}

.functions .menu-list ul li {
    width: 195px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.functions .menu-list ul li span {
    width: 195px;
    height: 53px;
    padding: 18px 0px 18px 24px;
    font-size: 13px;
    font-weight: 600;
}

.functions .menu-list ul li a {
    width: 195px;
    height: 41px;
    padding: 12px 0px 12px 24px;
    font-size: 13px;
}

.functions .menu-list ul li a:hover {
    text-decoration: underline 1px solid black
}

.functions .menu-list ul .margin478 {
    width: 100%;
    justify-self: center;
    display: flex;
    background-color: rgb(230, 230, 230);
    padding: 0;
}

.functions .menu-list ul .margin478>a {
    width: 270px;
    height: 24px;
    margin: 0px 478px;
    padding: 18px 0px 18px 24px;
    line-height: 0px;
    text-align: center;
}

#toggler:checked+label .function.menu .menu-list {
    display: block;
}

nav .functions .function a {
    display: flex;
    flex-flow: row nowrap
}

nav .functions .function.log {
    width: 90px;
    height: 48px;
}

nav .functions .function .icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

nav .functions .function .all {
    width: 15px;
    height: 15px;
    background-image: url(../img/all.png);
    margin-left: 4px;
    position: relative;
    top: 5px;
}

nav .functions .function .search {
    background-image: url(../img/search.png);
    margin-left: 4px;
}

nav .functions .function .cart {
    background-image: url(../img/cart.png);
    margin-left: 2px;
}

nav .functions .function .login {
    width: 35px;
    height: 35px;
    background-image: url(../img/login.png);
    margin-left: 8px;
}

nav .functions label {
    margin-right: 20px;
}

nav .functions .function.search01 {
    margin-right: 30px;
}

nav .functions .function.shop span {
    width: 45px;
}

nav .functions .function.shop {
    margin-right: 13px;
}

nav .functions .function.log {
    margin-right: -10px;
}

nav .functions .function li {
    font-size: 16px;
}

#toggler-1 {
    display: none;
}

.btn-nav-list {
    width: 48px;
    height: 48px;
    padding: 18px 15px 18px 13px;
    display: none;
    border: 2px solid black;
    margin: 4px 0px 3px 1px;
}

nav .btn-nav-list div {
    width: 20px;
    height: 1px;
    background-color: black;
    margin: 0px auto;
    margin-bottom: 4px;
    position: relative;
}

#toggler-1:checked+label .bar2 {
    display: none;
}

#toggler-1:checked+label .bar1 {
    transform: rotate(45deg);
    top: 5px;
}

#toggler-1:checked+label .bar3 {
    transform: rotate(-45deg);
    top: -0px;
}

.nav-list {
    width: 100%;
    background-color: rgb(242, 242, 242);
    position: absolute;
    top: 56px;
    left: 0px;
    z-index: 300;
    transform: scale(0);
}

#toggler-1:checked~.nav-list {
    transform: scale(1);
}

.nav-list ul {
    font-size: 15px;
}

.nav-list li {
    width: auto;
    padding: 14px 15px 15px;
    border: 1px solid rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
}

.nav-list li a {}

@media(max-width:859px) {
    .btn-nav-list {
        display: block;
    }
}

@media(max-width:1399px) {
    nav .links .microsoft-li {
        margin-left: -30px;
    }
    nav .links .office-li {
        margin-left: 4px;
    }
    nav .links .windows-li {
        margin-left: 3px;
    }
    nav .links .surface-li {
        margin-left: 3px;
    }
    nav .links .xbox-li {
        margin-left: 3px;
    }
    nav .links .support-li {
        margin-left: 3px;
    }
    .function span {
        display: none;
    }
    .function.menu span {
        display: inline-block;
    }
    nav .functions {
        display: flex;
        justify-content: flex-end;
    }
    nav .functions .function {
        margin: 0;
    }
    nav .functions label {
        margin-right: 23px;
    }
    nav .functions .function.search01 {
        margin-right: -26px;
    }
    nav .functions .function.shop {
        margin-right: 6px;
    }
    nav .functions .function.log {
        margin-right: -40px;
    }
}

#primaryArea {
    max-width: calc(1600px + 10%);
    width: 100%;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

@media(min-width:768px) and (max-width:1083px) {
    #primaryArea {
        padding: 0px;
    }
}

.primaryR1 {
    width: 100%;
    height: 100%;
}

.p-r1-top img {
    width: 100%;
    display: none;
}

@media(max-width:539px) {
    .primaryR1 .p-r1-top .banner1-xs {
        display: block;
    }
    .primaryR1 .p-r1-top .banner2-xs {
        display: block;
    }
}
@media(max-width:767px) {
   #primaryArea{
       padding: 0;
   }
}

@media(min-width:540px) and (max-width:767px) {
    .primaryR1 .p-r1-top .banner1-s {
        display: block;
    }
    .primaryR1 .p-r1-top .banner2-s {
        display: block;
    }
}

@media(min-width:768px) and (max-width:1083px) {
    .primaryR1 .p-r1-top .banner1-m {
        display: block;
    }
    .primaryR1 .p-r1-top .banner2-m {
        display: block;
    }
    .content888-3{
        display: flex;
        flex-direction: column;
    }
}

@media(min-width:1084px) and (max-width:1399px) {
    .primaryR1 .p-r1-top .banner1-l {
        display: block;
    }
    .primaryR1 .p-r1-top .banner2-l {
        display: block;
    }
}

@media(min-width:1400px) {
    .primaryR1 .p-r1-top .banner1-xl {
        display: block;
    }
    .primaryR1 .p-r1-top .banner2-xl {
        display: block;
    }
}

.swiper {}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {}

.pause-button {
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    font-size: 15px;
    color: white;
    position: relative;
}
.pause-button:hover {
    background-color: white;
    color: black;
}

#ps-btn::after {
    content: '暫停投影片';
    width: 81px;
    height: 32px;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 45px;
    font-size: 13px;
    line-height: 32px;
    display: none;
}

#ps-btn:hover::after{
    color: white;
    display: inline-block;
}
#ps-btn:focus::after{
    color: white;
    display: inline-block;
}
#ply-btn::after {
    content: '播放投影片';
    width: 81px;
    height: 32px;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 45px;
    font-size: 13px;
    line-height: 32px;
    display: none;
}

#ply-btn:hover::after{
    color: white;
    display: inline-block;
}
#ply-btn:focus::after{
    color: white;
    display: inline-block;
}

.pause-button:hover {
    background-color: white;
}

.pause-button:focus {
    border: 2px solid white;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 5px;
}

@media(max-width:859px) {
    nav .links label {
        display: none;
    }
    nav .links .windows-li {
        display: none;
    }
    nav .links .office-li {
        display: none;
    }
    nav .links .microsoft-li {
        display: none;
    }
    .functions .function>span {
        display: none;
    }
    .functions .function .all {
        display: none;
    }
    nav {
        padding: 0;
    }
    nav .links {
        width: auto;
        position: absolute;
        left: 50%;
        transform: translateX(-47%);
    }
    nav .links .logo-li a {
        padding: 16px 0px 10px 0px;
    }
    nav .links .logo-li .logo {
        margin: 0px;
    }
    nav .functions {
        width: 100%;
        justify-content: flex-end;
    }
    nav .functions .function.search01 {
        margin-right: auto;
        margin-left: -19px;
    }
    nav .functions .function.menu {
        display: none;
    }
}

.p-r1-top {
    width: 100%;
    position: relative;
    margin: 0px auto;
}

.transparentbanner {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 2;
}

.swiper-button-prev:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
}
.content1 {
    width: 520px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translate(0%, -60%);
    z-index: 20;
    
}
.content888{
    width: 520px;
    height: 200px;
    position: absolute;
    top: 58%;
    left: 6%;
    transform: translate(0%, -60%);
    z-index: 20;
}
.content888-1{
    font-size: 34px;
    font-weight: 600;
}
.content888-2{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
}
.newin {
    font-size: 15px;
    letter-spacing: -.01em;
    line-height: 1.5em;
    display: inline-block;
    background-color: #ffb900;
    padding: 3px 14px 5px;
    margin: 3px 0px;
    font-weight: 600;
}

.content1-1 {
    line-height: 40px;
    letter-spacing: -.01em;
    font-size: 34px;
    line-height: 40px;
    margin-top: 0px;
    margin-bottom: 13px;
    padding-top: 0;
    padding-bottom: 3px;
    color: white;
    font-weight: 800;
}

.content1-3:hover {
    background-color: rgb(230, 230, 230);
}
.content1-3 i{
    transition: .2s ease-in-out;
}
.content1-3:hover i {
    margin-left: 4px;
}
.content888-3-1:hover i{
    margin-left: 4px;
}
.content888-3-2:hover i{
    margin-left: 4px;
}
.content1-3:hover span {
    transform: translateX(-5%);
    transition: .2s ease-in-out;
    text-decoration: underline 2px;
}
.content888-3-1:hover span {
    transform: translateX(-5%);
    transition: .2s ease-in-out;
    text-decoration: underline 2px;
}
.content888-3-2:hover span {
    transform: translateX(-5%);
    transition: .2s ease-in-out;
    text-decoration: underline 2px;
}

.content1-2 {
    color: white;
    font-size: 15px;
}
.content888-3{
    display: flex;
    flex-direction: row;
}
.content888-3-1{
    cursor: pointer;
    height: 39.5px;
    display: inline-block;
    padding: 8px 20px 8px 20px;
    background-color: rgb(0, 0, 0);
    font-weight: 600;
    margin-top: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    z-index: 99;
    position: absolute;
    color: white;
}
.content888-3-1 i{
    transition: .2s ease-in-out;
}
.content888-3-2{
    cursor: pointer;
    height: 39.5px;
    display: inline-block;
    padding: 8px 20px 8px 20px;
    background-color: rgba(255, 255, 255, 0);
    font-weight: 600;
    margin-top: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    z-index: 99;
    position: absolute;
    left: 190px;
    color: rgb(0, 0, 0);
}
.content888-3-2 i{
    transition: .2s ease-in-out;
}
.content1-3 {
    cursor: pointer;
    width: 243.13px;
    height: 39.5px;
    display: inline-block;
    padding: 9px 20px 8px 20px;
    background-color: rgb(254, 254, 254);
    font-weight: 600;
    margin-top: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    z-index: 99;
    position: absolute;
}

.content1-3 span {
    transition: .2s ease-in-out;
}
.content888-3-1 span {
    transition: .2s ease-in-out;
}
.content888-3-2 span {
    transition: .2s ease-in-out;
}


.p-r1-top a {
    display: flex;
}

.p-r1-top picture {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    overflow: hidden;
    -ms-transform: scale(1.0125);
    transform: scale(1.0125);
    display: block;
}

@media(min-width:1084px) and (max-width:1399px) {
    .content1 a .content1-1 {
        font-size: 24px;
        line-height: 28px;
    }
    .content1 a .content1-2 {
        width: 440px;
    }
}

@media(min-width:768px) and (max-width:1083px) {
    .content1 a .content1-1 {
        font-size: 24px;
        line-height: 28px;
    }
    .content1 a .content1-2 {
        width: 340px;
    }
}

.wrap {
    width: 125px;
    margin: 0px auto;
}

.p-r1-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 45px;
}

.p-r1-buttom a {
    font-weight: 600;
    font-size: 15px;
    width: 184px;
    text-align: center;
    padding: 13.5px 0;
}

.p-r1-buttom a:nth-child(1) {
    margin-top: 20px;
}

.primaryR2 {
    width: 100%;
    padding-bottom: 53px;
}

.m-content {
    display: flex;
    justify-content: space-between;
}

.m-content a span i {
    margin-left: 10px;
}

.m-content .a-tag::before {
    content: "";
    width: calc(100% - 20px);
    height: 2px;
    background-color: rgb(0, 93, 166);
    position: absolute;
    top: 31px;
    display: none;
    transition: .2s;
}

.m-content .a-tag:hover::before {
    display: block;
    transition: .2s;
}

.m-content .a-tag span {
    transition: left 2s ease-in-out 2s;
}

.m-content .a-tag:hover span {
    position: relative;
    left: 4px;
    transition: left 2s ease-in-out;
}

.m-content>div {
    width: calc(25% - 18px);
}

.m-content div:hover img {
    opacity: 0.9;
}

.m-content img {
    width: 100%;
    height: auto;
}

.m-content h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    opacity: .95;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-top: 37px;
}

.m-content p {
    font-size: 15px;
    padding-top: 2px;
    padding-right: 12px;
}

.primaryR2 .m-content div .check {
    background-color: rgb(255, 216, 0);
    padding: 3px 14px 5px;
    font-size: 13px;
    font-weight: 400;
    width: 125.828px;
    letter-spacing: 0.975px;
    height: 26px;
    margin-top: 12px;
    margin-bottom: 4px;
}

.check~h3 {
    margin-top: 0px;
}

.a-tag {
    display: inline-block;
    padding: 10px 3px 7px 0;
    position: relative;
    border: 2px solid transparent;
    outline: 1px solid transparent;
    outline-offset: -3px;
    margin-left: 0;
    font-size: 15px;
    font-weight: 600;
    color: #0067b8;
    background: transparent;
    white-space: normal;
    text-align: left;
}

.c-group+.a-tag {
    margin-right: 24px;
}

.a-tag:focus {
    border: 2px solid black;
    background-color: rgba(0, 94, 166, 0.103);
}

@media(min-width:768px) and (max-width:1083px) {
    .m-content {
        flex-wrap: wrap;
        padding: 0px 5%;
        padding-bottom: 30px;
    }
    .m-content div {
        width: calc(50% - 12px);
        margin-bottom: 24px;
    }
}

.primaryR3 {
    width: 100%;
    ;
    margin: 0 auto;
}

.img-container {
    margin: 0px auto;
    position: relative;
}

.img-container img {
    width: 100%;
    display: none;
}

.img-container>a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
}

.content2 {
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translate(0%, -60%);
    padding: auto 0px;
    max-width: 520px;
}

.content2-1 {
    line-height: 40px;
    letter-spacing: -.01em;
    font-size: 34px;
    line-height: 40px;
    margin-top: 0px;
    margin-bottom: 13px;
    padding-top: 0;
    padding-bottom: 3px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.content2-3:hover img {
    margin-left: 4px;
}

.content2-3:hover span {
    transform: translateX(-5%);
    transition: .2s ease-in-out;
    text-decoration: underline 2px;
}

.content2-2 {
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.content2-3 {
    width: 123.13px;
    height: 39.5px;
    display: inline-block;
    padding: 9px 20px 8px 20px;
    background-color: rgb(0, 0, 0);
    font-weight: 600;
    margin-top: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    z-index: 99;
}

.content2-3 span {
    color: white;
    transition: .2s ease-in-out;
}

.content2-3 img {
    display: inline-block;
    width: 8px;
    height: 13px;
    position: relative;
    top: 1px;
    left: 7px;
    transition: .2s ease-in-out;
}

@media(max-width:539px) {
    .primaryR3 .img-container .r3-img-xs {
        display: block;
    }
}

@media(max-width:1083px) {
    .content2{
        max-width: 340px;
    }
}

@media(min-width:540px) and (max-width:767px) {
    .primaryR3 .img-container .r3-img-s {
        display: block;
    }
    
}

@media(min-width:768px) and (max-width:1083px) {
    .primaryR3 .img-container .r3-img-m {
        display: block;
    }
    
}

@media(min-width:1084px) and (max-width:1399px) {
    .primaryR3 .img-container .r3-img-l {
        display: block;
    }
    .content2{
        max-width: 440px;
    }
}

@media(min-width:1400px) {
    .primaryR3 .img-container .r3-img-xl {
        display: block;
    }
}

.m-no2 {
    padding-top: 20px;
}

.presentation {
    padding-top: 50px;
}

.presentation h2 {
    font-size: 24px;
}

.primaryr20 {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 40px 0px 50px 0px;
}

.primaryr20 span {
    font-size: 15px;
    line-height: 20px;
    color: rgba(0, 0, 0, .6);
    padding-right: 12px;
    margin-bottom: 4px;
}

.primaryr20 ul {
    display: flex;
    list-style: none;
}

.primaryr20 a {
    width: 30px;
    height: 30px;
    background-color: black;
    display: inline-block;
    margin-right: 12px;
}

.primaryr20 a:hover img {
    opacity: 0.9;
}

.primaryr20 a img {
    width: 30px;
}


/* .primaryr20 span ul li img::before{
    content: '';
    width: 30px;
    height: 30px;
    background-color: black;
} */

footer {
    width: 100%;
    height: auto;
    background-color: #c7c7c72d;
}

footer nav {
    height: auto;
    margin: 0;
}

footer nav a:hover {
    text-decoration: underline 1px solid black;
}

footer nav a:active {
    border: 1px dashed black;
}

.c-nav {
    max-width: calc(1600px + 10%);
    width: 100%;
    margin: 0px auto;
    padding: 0px 5%;
    display: flex;
    flex-wrap: wrap;
    color: #616161;
}

.nav-group {
    padding-top: 30px;
    width: 16.66666666666667%;
}

.nav-group .heading {
    font-weight: 600
}

.nav-group ul {
    list-style: none;
    line-height: 16px;
}

.nav-group li a {
    text-decoration: none;
    font-size: 11px;
    color: #616161;
}

.nav-group li {
    padding: 8px 0;
}

.base {
    background: #f2f2f2;
    margin: auto;
    max-width: calc(1600px + 10%);
    padding: 30px 0px 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.base ul {
    list-style: none;
    font-size: 12px;
    display: flex;
    flex-direction: row;
}

.base ul li {
    padding: 0 24px 4px 0;
    display: inline-block;
}

.base a {
    font-size: 12px;
    color: #616161;
}

.companylink li a {
    color: #616161;
}
@media(max-width:767px) {
    .base{
        flex-wrap: wrap;
    }
    .swiper-slide{
        display: flex;
        flex-flow: column;
        background-color: #e6e6e6;
    }
    .content1{
        width: auto;
        max-width: 100%;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        height: 320px;
        margin: auto;
        padding-bottom: 37px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .content1-1{
        font-size: 20px;
        margin-bottom: 0;
        color: black;
    }
    .content1-2{
        color: black;
    }
    .content1-3{
        position: relative;
        
    }
    .content888{
        width: auto;
        max-width: 100%;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        height: 320px;
        margin: auto;
        padding-bottom: 37px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .content888-1{
        font-size: 20px;
    }
    .content888-2{
        margin-top: 8px;
    }
    .content888-3-1{
        margin-top: 12px;
    }
    .content888-3-2{
        margin-top: 12px;
    }
    .p-r1-buttom{
        flex-flow: column ;
        align-items: flex-start;
        padding-right: 5%;
        padding-left: 5%;
    }
    .p-r1-buttom>a{
        display: flex;
        width: auto;
    }
    .p-r1-buttom>a>img{
        width: 20px;
        margin-right: 8px;
    }
    .wrap{
        width: auto;
    }
    .locale{
        width: 100%;
    }
    .companylink{
        margin-top: 12px;
    }
    .m-content{
        padding-left: 5%;
        padding-right: 5%;
        flex-wrap: wrap;
    }
    .m-content>div{
        width: calc(50% - 12px);
    }
    .img-container{
        background-color: #e6e6e6;
    }
    .content2{
        max-width: 100%;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        height: 320px;
        margin: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .content2-1{
        font-size: 20px;
        margin-bottom: 0px;
        padding-bottom: 0;
    }
    .content2-2{
        
    }
    .content2-3{
        margin-top: 12px;
    }
}
@media(min-width:540px) and (max-width:1083px) {
    .presentation {
        padding-left: 5%;
    }
    .primaryr20{
        padding: 0px 5%;
    }
    .c-nav {
        flex-wrap: wrap;
        padding: 0px 24px;
    }
    .nav-group {
        width: 33.333333%;
    }
}